@using WF.BLL;
@using WF.Common;
@using WF.Entity; 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title </title>
    <link rel="shortcut icon" href="~/Content/img/ak47.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/Content/Plugins/ace/assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="~/Content/Plugins/ace/assets/js/html5shiv.min.js"></script>
    <script src="~/Content/Plugins/ace/assets/js/respond.min.js"></script>
    <script src="~/Content/js/jquery-1.9.1.js"></script>
    <![endif]-->
    <!--[if !IE]> -->
    <script src="~/Content/Plugins/ace/assets/js/jquery-2.1.4.min.js"></script>

    <!-- <![endif]-->
    <!--[if gte  IE 9]>
    <script src="~/Content/Plugins/ace/assets/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script src="~/Content/js/wfframework.js"></script>
    <script src="~/Content/Plugins/layer/layer.js"></script>

    <script src="~/Content/Plugins/ace/assets/js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/jquery-ui.min.css" />

    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Content/Plugins/ace/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/Content/Plugins/ace/assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
    <script src="~/Content/Plugins/ace/assets/js/excanvas.min.js"></script>
    <![endif]-->
    <!-- ace scripts -->
    <script src="~/Content/Plugins/ace/assets/js/ace-elements.min.js"></script>
    <script src="~/Content/Plugins/ace/assets/js/ace.min.js"></script>
    <link href="~/Content/Plugins/bootstrapswitch/bootstrap-switch.css" rel="stylesheet" />
    <script src="~/Content/Plugins/bootstrapswitch/bootstrap-switch.js"></script>
    <style>
        .dataTables_wrapper .row:first-child {
            display: none;
        }

        .dataTables_wrapper .row:last-child {
            border-bottom: none;
            background-color: inherit;
        }

            .dataTables_wrapper .row:last-child div:first-child {
                padding-left: 0px;
            }

            .dataTables_wrapper .row:last-child div:last-child {
                padding-right: 0px;
            }

        .dataTables_paginate .pagination {
            margin: 0px;
        }
    </style>
    <script type="text/javascript">

        try {
            ace.settings.loadState('sidebar')
        } catch (e) {
        }
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
        var curmenuurl;
        var applicationPath='@(Request.ApplicationPath=="/"?"": Request.ApplicationPath)';
        var menuname="";
        var menulist = @Html.Raw(new WF.BLL.WF_MenuBll().getAll("00000000-0000-0000-0000-000000000000").ToJson());
        var obj = @Html.Raw(new WF.BLL.WF_MenuBll().getMenu("00000000-0000-0000-0000-000000000000"));
        function initMenu(parentmenu, parentul, isroot) {
            if (isroot) {
                if (parentmenu != null && parentmenu != undefined && parentmenu.submenu != null && parentmenu.submenu != undefined && parentmenu.submenu.length > 0) {
                    for (var j = 0; j < parentmenu.submenu.length; j++) {
                        var x = parentmenu.submenu[j];
                        var li = $('<li></li>');
                        var a = $('<a></a>');
                        a.attr('href', applicationPath.toLowerCase()+x.url.toLowerCase());
                        if(x.target && x.target.length>0)
                        {
                            a.attr('target',x.target);
                        }
                        li.attr('id',x.code);
                        if (x.submenu != null && x.submenu != undefined && x.submenu.length > 0) {
                            a.addClass("dropdown-toggle");
                            a.attr('href', "#");
                        }
                        li.append(a);
                        var i = $('<i></i>');
                        i.addClass("menu-icon");
                        i.addClass("fa");
                        i.addClass("fa-home");
                        a.append(i);
                        var span = $('<span></span>');
                        span.addClass("menu-text");
                        span.html(x.name);
                        a.append(span);
                        if (x.submenu != null && x.submenu != undefined && x.submenu.length > 0) {
                            var bsub = $('<b></b>');
                            bsub.addClass("arrow");
                            bsub.addClass("fa");
                            bsub.addClass("fa-angle-down");
                            a.append(bsub);
                        }

                        var b = $('<b></b>');
                        b.addClass("arrow");
                        li.append(b);
                        if (x.submenu != null && x.submenu != undefined && x.submenu.length > 0) {
                            var ul = $('<ul></ul>');
                            ul.addClass("submenu");
                            initMenu(x, ul, false);
                            li.append(ul);
                        }
                        $(parentul).append(li);
                    }
                }
            } else {
                if (parentmenu != null && parentmenu != undefined && parentmenu.submenu != null && parentmenu.submenu != undefined && parentmenu.submenu.length > 0) {
                    for (var j = 0; j < parentmenu.submenu.length; j++) {
                        var x = parentmenu.submenu[j];
                        var li = $('<li></li>');
                        var a = $('<a></a>');
                        a.attr('href', applicationPath.toLowerCase()+x.url.toLowerCase());
                        if(x.target && x.target.length>0)
                        {
                            a.attr('target',x.target);
                        }
                        li.attr('id',x.code);
                        if (x.submenu != null && x.submenu != undefined && x.submenu.length > 0) {
                            a.addClass("dropdown-toggle");
                            a.attr('href', "#");
                        }
                        li.append(a);
                        var i = $('<i></i>');
                        i.addClass("menu-icon");
                        i.addClass("fa");
                        i.addClass("fa-caret-right");
                        a.append(i);
                        a.append(x.name);
                        if (x.submenu != null && x.submenu != undefined && x.submenu.length > 0) {
                            var bsub = $('<b></b>');
                            bsub.addClass("arrow");
                            bsub.addClass("fa");
                            bsub.addClass("fa-angle-down");
                            a.append(bsub);
                        }
                        var b = $('<b></b>');
                        b.addClass("arrow");
                        li.append(b);
                        if (x.submenu != null && x.submenu != undefined && x.submenu.length > 0) {
                            var ul = $('<ul></ul>');
                            ul.addClass("submenu");
                            initMenu(x, ul, false);
                            li.append(ul);
                        }
                        $(parentul).append(li);
                    }
                }
            }
        }

        $(document).ready(function () {
            initMenu(obj, $(".nav-list"), true);
            ShowMenu();
            initnav();
        });
        function ShowMenu() {
            if(typeof(curmenuurl) == "undefined" || curmenuurl==null || $.trim(curmenuurl).length==0) {
                curmenuurl = document.location.protocol + "//" + window.location.host;
                var arr = window.location.href.split('?');
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i].indexOf("#") == arr[i].length - 1) {
                        arr[i] = arr[i].substring(0, arr[i].length - 1);
                    }
                    if (arr[i].indexOf(curmenuurl) == 0) {
                        arr[i] = arr[i].replace(curmenuurl, "");
                    }
                }
                curmenuurl = arr.join('?');
            }
            curmenuurl=curmenuurl;
            var menu = $(".nav-list").find("a[href='" + curmenuurl.toLowerCase() + "']");
            if (menu != null && menu != undefined) {
                var parent = $(menu).parent("li");
                parent.addClass("active");
                var parent =  $(parent).parents("li");
                if (parent != null && parent != undefined && parent.length > 0) {
                    for(var j=0;j< parent.length ;j++) {
                        if (!$(parent[j]).hasClass("nav-list")) {
                            $(parent[j]).addClass("open");
                        }
                    }
                }//nav-show
                var parent =  $(menu).parents("ul");
                if (parent != null && parent != undefined && parent.length > 0) {
                    for(var j=0;j< parent.length ;j++) {
                        if (!$(parent[j]).hasClass("nav-list")) {
                            $(parent[j]).addClass("nav-show");
                        }
                    }
                }
            }
        }

        var navlist;
        function initnav()
        {
            var currmenu=$(".active");
            navlist=new Array();
            if(!$.isempty(menuname))
            {
                navlist.push(menuname);
            }
            getnavl(currmenu.eq(0).attr("id"));
            var ul=$(".breadcrumb");
            ul.empty();
            if(navlist.length>0){
                for (var j = navlist.length-1; j >=0; j--) {
                    if(j==navlist.length-1){
                        var li=$("<li> </li>");
                        var i=$("<i> </i>");
                        var a=$("<a> </a>");
                        i.addClass("ace-icon");
                        i.addClass("fa");
                        i.addClass("fa-home");
                        i.addClass("home-icon");
                        a.append(navlist[j]);
                        a.attr("href","#");
                        li.append(i);
                        li.append(a);
                        ul.append(li);
                    }else if(j==0){
                        var li=$("<li> </li>");
                        li.addClass("active");
                        li.append(navlist[j]);
                        ul.append(li);
                    }else
                    {
                        var li=$("<li> </li>");
                        var a=$("<a> </a>");
                        a.append(navlist[j]);
                        a.attr("href","#");
                        li.append(a);
                        ul.append(li);

                    }
                }
            }
        }
        function getnavl(code)
        {
            for(var i =0;i<menulist.length;i++)
            {
                if(menulist[i].ID==code)
                {
                    navlist.push(menulist[i].Name);
                    getnavl(menulist[i].ParenrID);
                }
            }
        }
        
        (function ($) {
            if ($ != null && $ != undefined) {
                //备份jquery的ajax方法
                var _ajax = $.ajax;
                //重写jquery的ajax方法
                $.ajax = function (opt) {
                    var data = {
                        rand: Math.random()
                    };
                    var newdata = $.extend(data, opt.data);
                    opt.data = newdata;
                    _ajax(opt);
                };
            }
        })(jQuery);
    </script>
</head>
<body class="no-skin">
    <div id="navbar" class="navbar navbar-default          ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">CMS系统</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        流程控制中心
                    </small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue dropdown-modal">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img id="imguser" class="nav-user-photo"
                                 src="~/Content/Plugins/ace/assets/images/avatars/user.jpg"
                                 alt="" />
                            <span class="user-info">
                                <small>Welcome</small>
                                @{ 
                                    Employee emp = new Employee();
                                    if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                                    {
                                        EmployeeBll bll = new EmployeeBll();
                                        emp = bll.getbyAccount(System.Web.HttpContext.Current.User.Identity.Name);
                                        <span>@emp.UserName-@emp.UserCode</span>
                                    }
                                }
                                
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="~/Account/Logout">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    退出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.navbar-container -->
    <div class="main-container ace-save-state" id="main-container">
        <div id="sidebar" class="sidebar    responsive    ace-save-state">
            <ul class="nav nav-list"></ul><!-- /.nav-list -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
                   data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
        </div>
        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                  

                    </ul><!-- /.breadcrumb -->
                </div>
                <div class="page-content">
                    @RenderBody()
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-inner">
                版权所有 wangyipeng

            </div>
        </div>

    </div>
</body>
</html>